<%= form_for(@spike_mail) do |f| %>
  <% if @spike_mail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spike_mail.errors.count, "error") %> prohibited this spike_mail from being saved:</h2>

      <ul>
      <% @spike_mail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
