<h1>Listing spike_mails</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spike_mails.each do |spike_mail| %>
      <tr>
        <td><%= link_to 'Show', spike_mail %></td>
        <td><%= link_to 'Edit', edit_spike_mail_path(spike_mail) %></td>
        <td><%= link_to 'Destroy', spike_mail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spike mail', new_spike_mail_path %>
